<div class="container-fluid">
  <div class="row flex-nowrap">
    <%- include('layout/sidebar') %>
      <div class="col py-3" style="height: 100vh;">
        <%- include('layout/navbar')%>
          <!-- Body... -->
          <div class="container card_hover shadow-none p-3 mb-5 mt-3 bg-light rounded">
            <div class="row">
              <div class="col-lg-12">
                <div class="header d-flex justify-content-between text-center p-0"
                  style="height: 7vh; align-items: center;">
                  <h6>Users Page</h6>
                  <form class="d-flex" action="users" method="get">
                    <input value="<%= query? query.search:'' %>" class="search-records form-control me-2" name="search"
                      type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
                </div>

                <!-- Table -->
                <div style="height: 75vh; overflow-y: scroll;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Location</th>
                        <th scope="col" class="text-center">Status</th>
                        <th class=" text-end" scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="align-middle">
                      <p>
                        <% data.forEach((user, index)=> { %>
                          <tr>
                            <th scope="row">
                              <%=index+1+Number(skip)%>
                            </th>
                            <td>
                              <%=user.first_name%>
                                <%=user.last_name%>
                            </td>
                            <td>
                              <%=user.email%>
                            </td>
                            <td>+<%=user.country_code%>
                                <%=user.phone_number%>
                            </td>
                            <td>
                              <%=user.address?user.address.location+", "+user.address.country:''%></td>
                            <td>
                              <!-- <form action=" users" method="get"> -->
                                <!-- <div class="form-check form-switch d-flex justify-content-center">
                                  <input class="form-check-input color-yellow" type="checkbox" role="switch"
                                    onclick="toggleStatus(50)">
                                </div> -->
                                <!-- </form> -->
                                <!-- <form method="post" class="myForm" action="/users">
                                  <label class="switch">
                                    <input type="checkbox" name="checkbox" value="dark" onclick="clickFn(event)"> <span
                                      class="slider round"></span>
                                  </label>
                                </form> -->

                                <form id="switch-btn" method="post">
                                  <div class="form-check form-switch d-flex justify-content-center">
                                    <input class="form-check-input color-yellow" id="activeDeactive"
                                      name="activeDeactive" type="checkbox" role="switch" onclick="switchBtn(event)">
                                  </div>
                                </form>
                            </td>
                            <td class="row ju">
                              <div class="d-flex justify-content-end">
                                <div class="p-1 bd-highlight">
                                  <button type="button" class="btn btn-outline-primary">
                                    <i class="fa-regular fa-eye"></i>
                                  </button>
                                </div>
                                <!-- <div class="p-1 bd-highlight">
                                            <button type="button" class="btn btn-outline-primary">
                                              <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                          </div> -->
                                <div class="p-1 bd-highlight">
                                  <button type="button" class="btn btn-outline-danger">
                                    <i class="fa-regular fa-trash-can"></i>
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                      </p>
                    </tbody>
                  </table>
                  <!-- Table End -->
                  <% if(total_records==0){%>
                    <p class="d-flex align-items-center justify-content-center">No
                      Records...</p>
                    <%}%>
                      <!-- Pagination -->

                      <nav aria-label="Page navigation container-fluid d-flex align-middle justify-content-between">
                        <div class="container-fluid d-flex align-middle justify-content-between align-items-center">
                          <p style="font-size: 0.8rem;">
                            <%=total_records==0?0:skip+1%> - <%=total_records==0?0:Number(query.page) * limit%> out of
                                <%=total_records%>
                                  records sowing
                          </p>
                          <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link"
                                href="?search=<%=query.search%>&page=<%= Number(query.page||1)<=1?1: Number(query.page||1) - 1 %>"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <% if(total_records/Number(limit)<=5) { for(var i=1; i<=total_records/Number(limit); i++){%>
                              <li class="page-item <%= Number(query.page||1) === i ? 'active' : '' %>">
                                <a class="page-link" href="?search=<%=query.search%>&page=<%= i %>">
                                  <%= i %>
                                </a>
                              </li>
                              <%} } else{%>
                                <!--  -->
                                <li class="page-item <%= Number(query.page||1) === 1 ? 'active' : '' %>">
                                  <a class="page-link" href="?search=<%=query.search%>&page=<%= 1 %>">
                                    <%= 1 %>
                                  </a>
                                </li>

                                <li class="page-item <%= Number(query.page||1) === 2 ? 'active' : '' %>">
                                  <a class="page-link <%= Number(query.page||1) > 3 ? 'disabled' : ''%>"
                                    href="?search=<%=query.search%>&page=<%= 1 %>">
                                    <%= Number(query.page||1)> 3?'...':2 %>
                                  </a>
                                </li>
                                <!-- Center -->
                                <li class="page-item <%= (Number(query.page||1) >=3 && Number(query.page||1) <= (Math.ceil(total_records
                            /Number(limit))-2)) ? 'active':  '' %>">
                                  <a class="page-link" href="?search=<%=query.search%>&page=<%= Number(query.page||1) <=3? 3 : Number(query.page||1)>= ((total_records
                                /Number(limit))-2)? ((Math.ceil(total_records /Number(limit)))-2): query.page %>">
                                    <%= Number(query.page||1) <=3? 3 : Number(query.page||1)>= ((total_records
                                      /Number(limit))-2)? ((Math.ceil(total_records /Number(limit)))-2): query.page %>
                                  </a>
                                </li>
                                <!-- Center End -->
                                <li
                                  class="page-item <%= Number(query.page||1) === ((Math.ceil(total_records /Number(limit)))-1) ? 'active' : '' %>">
                                  <a class="page-link <%= Number(query.page||1) < ((Math.ceil(total_records /Number(limit)))-2) ? 'disabled' : ''%>"
                                    href="?search=<%=query.search%>&=<%= (Math.ceil(total_records /Number(limit)))-1 %>">
                                    <%= Number(query.page||1) < ((Math.ceil(total_records
                                      /Number(limit)))-2)?'...':(Math.ceil(total_records /Number(limit))-1) %>
                                  </a>
                                </li>

                                <li
                                  class="page-item <%= Number(query.page||1) === (Math.ceil(total_records /Number(limit))) ? 'active' : '' %>">
                                  <a class="page-link"
                                    href="?search=<%=query.search%>&page=<%= (Math.ceil(total_records /Number(limit))) %>">
                                    <%= (Math.ceil(total_records/Number(limit))) %>
                                  </a>
                                </li>
                                <!--  -->
                                <%}%>
                                  <li class="page-item">
                                    <a class="page-link"
                                      href="?search=<%=query.search%>&page=<%= Number(query.page||1)>=(Math.ceil(total_records /Number(limit)))?(Math.ceil(total_records /Number(limit))): Number(query.page||1) + 1 %>"
                                      aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>

                          </ul>
                        </div>
                      </nav>
                      <!-- </div> -->
                      <!-- Pagination End -->
                      <%- include('layout/footer')%>
                </div>

              </div>
            </div>

          </div>

      </div>
  </div>
</div>

<!-- <script>
  const searchUsers = () => {
    let filter = document.getElementById("search-records").value.toLowerCase();
  }
</script> -->
<!-- <script src="../public/js/users_script.js"></script> -->
<script>

  function switchBtn(event) {
    // const v = event.currentTarget;
    const checkbox = event.currentTarget;
    checkbox.value = checkbox.checked ? 'dark' : 'light';
    console.log("V--> " + checkbox.value);
    event.currentTarget.closest('form').submit()
  }


  // function clickFn(event) {
  //   const checkbox = event.currentTarget;
  //   checkbox.value = checkbox.checked ? 'dark' : 'light';
  //   event.currentTarget.closest('form').submit()
  // }

  // function toggleStatus(id) {
  //   console.log(id);
  //   console.log(window.location.search);

  //   $.ajax({
  //     url: "/users",
  //     success: function (result) {
  //       console.log("this is done");
  //     }
  //   });
  //   // if (window.location.search.indexOf('?') < 0) {
  //   //   history.pushState({}, document.title, window.location.pathname + window.location.search + "?active_inactive_user_id=" + id);

  //   //   console.log(window.location.pathname);
  //   // } else {
  //   //   history.pushState({}, document.title, window.location.pathname + window.location.search.substring(0, window.location.search.indexOf('&')) + "&active_inactive_user_id=" + id);

  //   // }

  // }
</script>